<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>
  <div class="main container">
    <h1 class="my"><%= post.title %></h1>
    <img class="img-fluid" src="<%= post.image%>">
    <h2>by: <%=post.user%></h2>
    <p>Likes: <%= post.likes %></p>
    <p><%= post.caption %></p>
    <p>Created At: <%=post.date%></p>
    <div class="like-delete">
    <form action="/posts/likePost/<%= post.id %>" method="POST">
      <button class="btn" type="submit">Like</button>
    </form>
    <% if (post.userId == user._id) {%>
      <form action="/posts/deletePost/<%= post.id %>"
        method="POST">
        <button class="btn" type="submit">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
</body>
</html>